@using TeddySwap.UI.Services
@inject IconsService IconsService

<MudCard Elevation="6" Class="!p-[22px]">
    <MudCardMedia Class="rounded-[inherit]" Image=@NftDetails.Image />
    <MudCardContent Class="!p-0 !mt-[12px]">
        <div class="flex justify-between items-center mb-[10px]">
            <MudText Class="!text-[16px] !font-bold" Typo="Typo.h5">@NftDetails.Name</MudText>
            <div class="text-white bg-[var(--mud-palette-primary)] rounded-full flex items-center justify-center nft-rarity">@NftDetails.Rarity</div>
        </div>
        <MudDivider Class="!mt-[10px]" />

        <MudList>
            <MudListItem Class="!p-0">
                <div class="flex justify-between items-center text-[12px] text-[var(--mud-palette-text-primary)]">
                    <div>Base reward:</div>
                    <div>@NftDetails.BaseReward.ToString("N0") TEDY</div>
                </div>
            </MudListItem>
            <MudListItem Class="!p-0">
                <div class="flex justify-between items-center text-[12px] text-[var(--mud-palette-text-primary)]">
                    <div>Round 2 share:</div>
                    <div>@NftDetails.RoundTwoShare.ToString("N0") TEDY</div>
                </div>
            </MudListItem>
            <MudListItem Class="!p-0">
                <div class="flex justify-between items-center text-[12px] text-[var(--mud-palette-text-primary)]">
                    <div class="flex gap-1">
                        <div>Bonus</div>
                        <MudTooltip Placement="Placement.Right" Class="max-w-[200px] text-left">
                            <ChildContent>
                                <MudIcon Class="w-[14px] cursor-pointer" Icon="@IconsService.OutlinedQuestionMark" Size="Size.Small" />
                            </ChildContent>
                            <TooltipContent>
                                <MudText Typo="Typo.caption">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto quos officiis voluptates pariatur corrupti? Laborum!
                                </MudText>
                            </TooltipContent>
                        </MudTooltip>
                        <div>:</div>
                    </div>
                    <div>@NftDetails.Bonus.ToString("N0") TEDY</div>
                </div>
            </MudListItem>
            <MudListItem Class="!p-0">
                <div class="flex justify-between items-center text-[12px] text-[var(--mud-palette-text-primary)] font-bold">
                    <div>Total reward:</div>
                    <div>@NftDetails.TotalReward.ToString("N0") TEDY</div>
                </div>
            </MudListItem>
        </MudList>
    </MudCardContent>
</MudCard>
