@page "/leaderboard"

<PageTitle>TeddySwap | Cardano | Dashboard</PageTitle>

<div class="flex gap-4">
    <DashboardMenu />
    <MudTabs Elevation="4" Rounded="true" ApplyEffectsToContainer="true" Class="w-full" SliderColor="Color.Secondary">
        <MudTabPanel Text="Global">
            <MudTable Items="DummyLeaderboard" Hover="true" Class="w-full">
                <ToolBarContent>
                    <div class="!flex md:!flex-row !flex-col w-full md:mx-4">
                        <MudText Typo="Typo.h6" Class="!hidden md:!block">ITN Leaderboard | Global</MudText>
                        <MudSpacer />
                        <MudTextField Placeholder="Search your address" Adornment="Adornment.Start"
                            AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"
                            Value="string.Empty">
                        </MudTextField>
                    </div>
                </ToolBarContent>
                <HeaderContent>
                    <MudTh>Rank</MudTh>
                    <MudTh>Testnet Address</MudTh>
                    <MudTh>Mainnet Address</MudTh>
                    <MudTh>Points</MudTh>
                    <MudTh>Bonus</MudTh>
                    <MudTh>Total Rewards</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Rank">@context.Rank</MudTd>
                    <MudTd DataLabel="Testnet Address">@context.TestnetAddress.Substring(0,6) ...
                        @context.TestnetAddress.Substring(@context.TestnetAddress.Length - 6)</MudTd>
                    <MudTd DataLabel="Mainnet Address">@context.MainnetAddress.Substring(0,6) ...
                        @context.MainnetAddress.Substring(@context.MainnetAddress.Length - 6)</MudTd>
                    <MudTd DataLabel="Points">@context.Points</MudTd>
                    <MudTd DataLabel="Bonus">@context.Bonus%</MudTd>
                    <MudTd DataLabel="Total Rewards">@context.Rewards.ToString("N2") $TEDY</MudTd>
                </RowTemplate>
                <PagerContent>
                    <MudTablePager />
                </PagerContent>
            </MudTable>
        </MudTabPanel>
        <MudTabPanel Text="Batchers">
            <MudTable Items="DummyLeaderboard" Hover="true" Class="w-full">
                <ToolBarContent>
                    <div class="!flex md:!flex-row !flex-col w-full md:mx-4">
                        <MudText Typo="Typo.h6" Class="!hidden md:!block">ITN Leaderboard | Batchers</MudText>
                        <MudSpacer />
                        <MudTextField Placeholder="Search your address" Adornment="Adornment.Start"
                            AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"
                            Value="string.Empty">
                        </MudTextField>
                    </div>
                </ToolBarContent>
                <HeaderContent>
                    <MudTh>Rank</MudTh>
                    <MudTh>Testnet Address</MudTh>
                    <MudTh>Mainnet Address</MudTh>
                    <MudTh>Points</MudTh>
                    <MudTh>Bonus</MudTh>
                    <MudTh>Total Rewards</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Rank">@context.Rank</MudTd>
                    <MudTd DataLabel="Testnet Address">@context.TestnetAddress.Substring(0,6) ...
                        @context.TestnetAddress.Substring(@context.TestnetAddress.Length - 6)</MudTd>
                    <MudTd DataLabel="Mainnet Address">@context.MainnetAddress.Substring(0,6) ...
                        @context.MainnetAddress.Substring(@context.MainnetAddress.Length - 6)</MudTd>
                    <MudTd DataLabel="Points">@context.Points</MudTd>
                    <MudTd DataLabel="Bonus">@context.Bonus%</MudTd>
                    <MudTd DataLabel="Total Rewards">@context.Rewards.ToString("N2") $TEDY</MudTd>
                </RowTemplate>
                <PagerContent>
                    <MudTablePager />
                </PagerContent>
            </MudTable>
        </MudTabPanel>
    </MudTabs>
</div>