@using TeddySwap.UI.Models

@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="true" Theme="Theme" DefaultScrollbar="true" />
<MudSnackbarProvider />
<MudDialogProvider />
<PageTitle>TeddySwap.UI</PageTitle>

<section>
    <MudAppBar Color="Color.Tertiary" Fixed="false">
        <img src="/images/teddy-logo.svg" alt="teddy-logo" class="h-[30px] mr-6" />
        <div class="pt-[4px] gap-6 hidden lg:flex">
            <NavLink Href="/leaderboard" class="font-bold text-[16px] text-[var(--mud-palette-text-secondary)]"
                ActiveClass="!text-[var(--mud-palette-text-primary)]">Leaderboard</NavLink>
            <NavLink Href="/rewards" class="font-bold text-[16px] text-[var(--mud-palette-text-secondary)]"
                ActiveClass="!text-[var(--mud-palette-text-primary)]">Rewards</NavLink>
            <NavLink Href="https://fiso.teddyswap.org/" Target="_blank"
                class="font-bold text-[16px] text-[var(--mud-palette-text-secondary)]"
                ActiveClass="!text-[var(--mud-palette-text-primary)]">Staking</NavLink>
        </div>
        <MudSpacer />
        @if (IsWalletConnected)
        {
            <MudChip OnClick="OnWalletDisconnect" Size="Size.Medium"
            Class="!px-4 !bg-[var(--mud-palette-surface)] hover:!bg-[var(--mud-palette-background-grey)] cursor-pointer backdrop-blur-xl">
                <div class="flex gap-1">
                    <img src="@CardanoWalletService?.ConnectedWallet?.Icon" width="24" height="24"
                        alt="connected-wallet-logo" />
                    <div class="grid content-center">
                        <!-- SUPER WEIRD I DONT KNOW WHY I NEED TO CHECK THIS AGAIN LOL -->
                        @if (!string.IsNullOrEmpty(ConnectedAddress))
                        {
                            <span>
                                @ConnectedAddress.Substring(0, 6)
                                ...
                                @ConnectedAddress.Substring(ConnectedAddress.Length - 6)
                            </span>
                        }
                    </div>
                </div>
            </MudChip>
        }
        else
        {
            <MudButton Disabled="!IsLoaded" Variant="Variant.Filled" Size="Size.Small" Color="Color.Secondary"
            Class="!normal-case !text-[16px] !font-bold !px-4 hidden lg:block"
            OnClick="() => OnConnectWalletShowClicked()">
                Connect Wallet
            </MudButton>
        }
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" OnClick="ToggleDrawer" />
    </MudAppBar>

</section>

<main class="container mx-auto py-10 px-4 relative z-[2]">
    @Body
</main>

<MudDialog @bind-IsVisible="IsWalletDialogShown" Options="WalletDialogOptions">
    <TitleContent>
        <div class="flex flex-col gap-2">
            <MudText Typo="Typo.h6" Class="font-bold">
                Choose your wallet
            </MudText>
            <MudAlert Severity="Severity.Info"
                Class="bg-[var(--mud-palette-surface)] text-[var(--mud-palette-text-primary)] text-[12px]">By connecting
                a wallet, you agree to the Cookie policy and acknowledge that you have read and understand the Protocol
                disclaimer.</MudAlert>
        </div>
    </TitleContent>
    <DialogContent>
        <MudList Clickable="true" id="wallet-list" class="flex flex-col gap-2">
            @foreach (CardanoWallet cardanoWallet in CardanoWallets)
            {
                <MudListItem OnClick="() => OnConnectWalletClicked(cardanoWallet)">
                    <div class="flex">
                        <div class="grid content-center">
                            <MudText Class="capitalize">@cardanoWallet.Name</MudText>
                        </div>
                        <MudSpacer />
                        <img src="@cardanoWallet.Icon" width="32" height="32" alt=@($"{cardanoWallet.Name}-wallet-logo") />
                    </div>
                </MudListItem>
            }
        </MudList>
    </DialogContent>
</MudDialog>

<div class="bg-[url('/images/bear-with-balloons.png')] w-[384[x] h-[527px] bg-cover fixed bottom-0 right-20 w-96" />

<MudDrawer @bind-Open="IsDrawerOpen" Anchor="Anchor.End" Elevation="1" Variant="DrawerVariant.Temporary">
    <MudDrawerHeader Class="pl-[16px] pr-[8px] py-[8px]">
        <div class="grid content-center relative">
            <div class="flex gap-2">
                <div class="grid content-center">
                    <span class="relative flex h-3 w-3">
                        <span
                            class="animate-ping absolute inline-flex h-full w-full rounded-full bg-[#0FC43B] opacity-75"></span>
                        <span class="relative inline-flex rounded-full h-3 w-3 bg-[#0FC43B]"></span>
                    </span>
                </div>
                <MudText Class="font-bold !text-[#0FC43B]">@HeartBeatService?.LatestBlockNo</MudText>
            </div>
        </div>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.Close" Color="Color.Inherit" OnClick="ToggleDrawer" />
    </MudDrawerHeader>
    <MudNavMenu>
        <MudNavLink Href="/leaderboard" ActiveClass="!text-[var(--mud-palette-text-primary)]"
            Class="!font-bold text-[var(--mud-palette-text-secondary)]">Leaderboard</MudNavLink>
        <MudNavLink Href="/rewards" ActiveClass="!text-[var(--mud-palette-text-primary)]"
            Class="!font-bold text-[var(--mud-palette-text-secondary)]">Rewards</MudNavLink>
        <MudNavLink Href="https://fiso.teddyswap.org/" Target="_blank"
            ActiveClass="!text-[var(--mud-palette-text-primary)]"
            Class="!font-bold text-[var(--mud-palette-text-secondary)]">Staking</MudNavLink>
    </MudNavMenu>
    <div class="flex justify-center mt-4">
        <MudButton Variant="Variant.Filled" Size="Size.Small" Color="Color.Secondary"
            Class="!normal-case !text-[16px] !font-bold !px-4">Connect Wallet</MudButton>
    </div>
</MudDrawer>
