@using TeddySwap.UI.Services
@inject IconsService IconsService

<MudCard Elevation="6" Class="!p-[22px]">
    <MudCardMedia Class="rounded-[inherit]" Image=@($"https://teddyswap.infura-ipfs.io/ipfs/{ExtraNftDetails?.Url}") />
    <MudCardContent Class="!p-0 !mt-[12px]">
        <div class="flex justify-between items-center mb-[10px]">
            <MudText Class="!text-[16px] !font-bold" Typo="Typo.h5">@NftDetails.AsciiName</MudText>
            <div class="text-white bg-[var(--mud-palette-primary)] rounded-full flex items-center justify-center nft-rarity">@ExtraNftDetails?.RarityRank</div>
        </div>
        <MudDivider Class="!mt-[10px]" />

        <MudList>
            <MudListItem Class="!p-0">
                <div class="flex justify-between items-center text-[12px] text-[var(--mud-palette-text-primary)]">
                    <div>Base reward:</div>
                    <div>@RewardBreakdown.BaseReward.ToString("#,##0.00") $TEDY</div>
                </div>
            </MudListItem>
            <MudListItem Class="!p-0">
                <div class="flex justify-between items-center text-[12px] text-[var(--mud-palette-text-primary)]">
                    <div class="flex gap-1">
                        <div>Bonus:</div>
                    </div>
                    <div>@RewardBreakdown.BonusReward.ToString("#,##0.00") $TEDY</div>
                </div>
            </MudListItem>
            <MudListItem Class="!p-0">
                <div class="flex justify-between items-center text-[12px] text-[var(--mud-palette-text-primary)]">
                    <div class="flex gap-1 items-center">
                        <div>ESR</div>
                        <MudTooltip Placement="Placement.Right">
                            <ChildContent>
                                <MudIcon Icon="@IconsService.OutlinedQuestionMark" Class="w-[13px] cursor-pointer"/>
                            </ChildContent>
                            <TooltipContent>
                                <p>Early Supporter Reward</p>
                            </TooltipContent>
                        </MudTooltip>
                        <div>:</div>
                    </div>
                    <div>@RewardBreakdown.EarlySupporterBonus.ToString("#,##0.00")  $TEDY</div>
                </div>
            </MudListItem>
            <MudListItem Class="!p-0">
                <div class="flex justify-between items-center text-[12px] text-[var(--mud-palette-text-primary)] font-bold">
                    <div>Total reward:</div>
                    <div>@RewardBreakdown.TotalReward.ToString("#,##0.00") $TEDY</div>
                </div>
            </MudListItem>
        </MudList>
    </MudCardContent>
</MudCard>
