<section class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-6 text-center">
    <MudCard Elevation="6">
        <MudCardContent>
            <MudText Typo="Typo.caption" Class="font-bold">Available Rewards</MudText>
            <MudText Typo="Typo.h5" Color="Color.Success" Class="font-bold">@((LeaderBoardType ==
                Common.Enums.LeaderBoardType.Users ? 2_000_000 : 1_000_000).ToString("N0")) $TEDY</MudText>
            <MudText Typo="Typo.caption">Divided by total # of points</MudText>
        </MudCardContent>
    </MudCard>
    <MudCard Elevation="6">
        <MudCardContent>
            <MudText Typo="Typo.caption" Class="font-bold">
                Total @(LeaderBoardType == Common.Enums.LeaderBoardType.Users
                ? "Users" : "Badgers")
            </MudText>
            <MudText Typo="Typo.h5" Color="Color.Success" Class="font-bold">
                @(@LeaderBoardStats.TotalCount.ToString("N0"))
            </MudText>
            <MudText Typo="Typo.caption">
                Testnet @(LeaderBoardType == Common.Enums.LeaderBoardType.Users
                ? "Users" : "Badgers")
            </MudText>
        </MudCardContent>
    </MudCard>
    <MudCard Elevation="6">
        <MudCardContent>
            <MudText Typo="Typo.caption" Class="font-bold">Total Points</MudText>
            <MudText Typo="Typo.h5" Color="Color.Success" Class="font-bold">
                @(@LeaderBoardStats.TotalAmount.ToString("N0"))
            </MudText>
            <MudText Typo="Typo.caption">All Time</MudText>
        </MudCardContent>
    </MudCard>
</section>
<section class="!flex md:!flex-row !flex-col w-full mb-4">
    <div class="grid content-center">
        <MudText Class="!hidden md:!block text-[24px] font-bold">
            Testnet Leaderboard | @(LeaderBoardType == Common.Enums.LeaderBoardType.Users ? "Global" : "Badgers")
        </MudText>
    </div>
    <MudSpacer />
    <div id="leaderboard-search" class="grow">
        <MudTextField Variant="Variant.Outlined" Placeholder="Search your address" Adornment="Adornment.Start"
            AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"
            ValueChanged="@((v) => OnSearch(v))" T="string" />
    </div>
</section>
<MudTable Elevation="6" @ref="LeaderBoardTable" Hover="true" Class="w-full backdrop-blur-xl" Dense="true"
    ServerData="LeaderboardServerData">
    <HeaderContent>
        <MudTh Class="!font-bold">Rank</MudTh>
        <MudTh Class="!font-bold">Testnet Address</MudTh>
        <MudTh Class="!font-bold">Mainnet Address</MudTh>
        <MudTh Class="!font-bold">Points</MudTh>
        <MudTh Class="!font-bold">Bonus</MudTh>
        <MudTh Class="!font-bold">Total Rewards</MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Rank" Class="font-bold">#@context.Rank</MudTd>
        <MudTd DataLabel="Testnet Address">
            <div>
                @context.TestnetAddress.Substring(0,6) ...
                @context.TestnetAddress.Substring(@context.TestnetAddress.Length - 6)
                <MudIconButton Icon="@Icons.Material.Filled.Link" Target="_blank"
                    Href=@("https://preview.cardanoscan.io/address/" + @context.TestnetAddress)>
                </MudIconButton>
            </div>
        </MudTd>
        <MudTd DataLabel="Mainnet Address">
            @if (context.MainnetAddress != string.Empty)
            {
                <div>
                    @context.MainnetAddress.Substring(0,6) ...
                    @context.MainnetAddress.Substring(@context.MainnetAddress.Length - 6)
                    <MudIconButton Icon="@Icons.Material.Filled.Link" Target="_blank"
                    Href=@("https://cardanoscan.io/address/" + @context.MainnetAddress)></MudIconButton>
                </div>
            }
            else
            {
                <div>N/A</div>
            }
        </MudTd>
        <MudTd DataLabel="Points">@context.Total</MudTd>
        <MudTd DataLabel="Bonus">0%</MudTd>
        <MudTd DataLabel="Total Rewards">
            <MudText Color="Color.Success" Class="font-bold">
                @context.BaseReward.ToString("N2") $TEDY
            </MudText>
        </MudTd>
        <MudTh>
            <MudMenu Icon="@Icons.Material.Filled.KeyboardArrowDown">
                <div class="w-[200px]">
                    <div class="p-4">
                        <MudText Class="font-bold">
                            Summary
                        </MudText>
                    </div>
                    <MudMenuItem>
                        Swap: <MudText Color="Color.Success">@context.Swap</MudText>
                    </MudMenuItem>
                    <MudMenuItem>
                        Deposit: <MudText Color="Color.Success">@context.Deposit</MudText>
                    </MudMenuItem>
                    <MudMenuItem>
                        Redeem: <MudText Color="Color.Success">@context.Redeem</MudText>
                    </MudMenuItem>
                    <MudMenuItem>
                        Batching: <MudText Color="Color.Success">@context.Batch</MudText>
                    </MudMenuItem>
                </div>
            </MudMenu>
        </MudTh>
    </RowTemplate>
    <PagerContent>
        <MudTablePager Class="test" />
    </PagerContent>
</MudTable>