<header class="absolute top-0 left-0 right-0 z-[2000]">
    <div class="flex justify-between items-center py-[21px] lg:py-[17px] px-[18px] lg:px-[38px]">

        <MudLink Href="/">
            <div class="flex items-center gap-[9px] lg:gap-[12px]">
                <div class="w-[35px] lg:w-[44px]">
                    <MudImage Width="100" Src="images/conclave-logo.svg" Alt="Conclave logo" />
                </div>
                <div class="w-[82px] lg:w-[103px]">
                    <MudImage Width="100" Src="images/conclave-text.svg" Alt="Conclave text" />
                </div>
            </div>
        </MudLink>

        
        <h1 class="hidden lg:block text-white font-medium text-[24px] mr-auto ml-[100px]">Staking</h1>
       

        <div class="flex items-center gap-6">
            <div class="lg:hidden">
                <MudToggleIconButton Color="Color.Secondary">
                    <MudImage Src="images/moon.svg" Alt="Moon icon" />
                </MudToggleIconButton>
            </div>

            <div class="w-[25px] relative lg:hidden">
                <input type="checkbox" onchange="@OnBurgerMenuClicked" class="burger-checkbox absolute top-[-10px] w-full h-[22px] cursor-pointer z-[2000] opacity-0">
                <div class="burger-menu relative w-full">
                    <span class="top absolute bottom-[6px] h-0.5 w-full bg-white duration-200 ease-linear rounded"></span>
                    <span class="middle h-0.5 w-full bg-white absolute duration-200 ease-linear rounded"></span>
                    <span class="bottom absolute top-[8px] h-0.5 w-full bg-white duration-200 rounded"></span>
                </div>
            </div>

            <div class="hidden lg:flex items-center gap-[17px]">
                <ThemeSwitch />

                @* <MudButton Class="!py-[12.5px] !px-[24px] !rounded-[50px] !border-[1px] !border-[#ffffff1a] !border-solid">
                    <div class="flex items-center gap-2">
                        <MudImage Src="images/nami.svg" Alt="Nami logo" />
                        <span class="lowercase font-normal text-white">@WalletAddress</span>
                        <MudIcon Icon="@Icons.Filled.KeyboardArrowDown" />
                    </div>
                </MudButton> *@

                
                <div class="relative">
                    <div class="py-[12.5px] px-[24px] rounded-[50px] border-[1px] border-[#ffffff1a] border-solid">
                        <div class="flex items-center gap-2">
                            <MudImage Src="images/nami.svg" Alt="Nami logo" />
                            <span class="lowercase font-normal text-white">@WalletAddress</span>
                            <MudButton OnClick="OnDropDownClicked" Class="!min-w-fit !p-0">
                                <MudIcon Icon="@Icons.Filled.KeyboardArrowDown" />
                            </MudButton>
                        </div>
                    </div>

                    <div class="@(_isDropDownVisible ? "block" : "hidden") absolute bottom-[-243px] w-full">
                        <ConnectedWalletDropDownMenu AdaBalance="1000" CnclvBalance="5000" />
                    </div>
                </div>
               

                @* <MudButton Class="!py-[12.5px] !px-[24px] !rounded-[50px] !border-[1px] !border-[#ffffff1a] !border-solid">
                    Connect Wallet
                </MudButton> *@
            </div>
        </div>
    </div>
</header>
