<div class="w-full max-w-[355px] backdrop-blur-xl hover:drop-shadow-2xl hover:backdrop-blur-[5px] mx-auto rounded-[1rem]">
  <MudCard 
    Class="@CardBorder"
    Style="border-radius: 1rem; background: transparent; backdrop-filter: blur(20px);">
    <MudCardHeader Class="@CardColor"
      Style="display: flex; justify-content: space-between; align-items: center; border-top-left-radius: 8px; border-top-right-radius: 8px;">
      <div class="flex items-center my-2 xs:my-3 mx-3 xs:mx-4">
        <p class="text-white mr-3.5 ml-1 text-sm">@PoolDetails.Ticker</p>
        <MudImage Src="images/link.svg" Alt="Link" />
      </div>
      <div class="@IconDisplay mr-3 xs:mr-4">
        <MudImage Src="images/conclave.svg" Alt="Conclave Icon" />
      </div>
    </MudCardHeader>
    <MudCardContent>
      <div class="mb-4">
        <MudText Typo="Typo.body2">Ticker: @PoolDetails.Ticker</MudText>
        <MudText Typo="Typo.caption">@PoolDetails.Description</MudText>
      </div>
      <div class="flex justify-between mb-4">
        <MudText Typo="Typo.body2">Blocks: @PoolDetails.Blocks</MudText>
        <MudText Typo="Typo.body2">Interest: @PoolDetails.Interest%</MudText>
      </div>
      <div class="flex justify-between mb-4">
        <MudText Typo="Typo.body2">Saturation</MudText>
        <MudText Typo="Typo.body2">A 17.14M (@PoolDetails.Saturation%)</MudText>
      </div>
      <MudProgressLinear Color="ProgressBar" Rounded="true" Size="Size.Large" Min="0" Max="100" Value="PoolDetails.Saturation" Class="my-3" />
      <div class="flex justify-between mb-4">
        <MudText Typo="Typo.body2">Pledge</MudText>
        <MudText Typo="Typo.body2">A @String.Format("{0:n0}", PoolDetails.Pledge)</MudText>
      </div>
      <MudProgressLinear  Rounded="true" Size="Size.Large" Min="0" Max="1000000" Value="PoolDetails.Pledge" Class="mt-3" />
    </MudCardContent>
    <MudCardActions Class="mb-2">
      <MudButton Class="@ButtonBorder()" FullWidth="true" Variant="Variant.Filled" Color="ButtonColor()" Style="border-radius: 999px">
       @ButtonTitle
      </MudButton>
    </MudCardActions>
  </MudCard>
</div>