@* <MudSwitch Class="text" @bind-Checked="@_isDarkMode" ThumbIcon="@(_isDarkMode ? ConclaveIcons.Sun : ConclaveIcons.Moon)" /> *@

<MudButton OnClick="ToggleSwitch" Class="switch !min-w-[47px] !w-[47px] first:!w-[47px] !h-[25px] !rounded-[38px]">
    <div class="!w-[47px] !h-[25px] rounded-[38px] border-solid border-[1.32px] relative @(!_isDarkMode ? "border-[#41fbfb]" : "border-[#3d1a6e] bg-white")">
        <div class="@(!_isDarkMode ? "!bg-[#41fbfb1a]" : "bg-[#3d1a6e1a]") h-[19.74px] w-[19.74px] rounded-full flex items-center justify-center absolute left-[2.1px] top-[1.8px] duration-75 ease-linear @(!_isDarkMode ? "" : "toggle-switch")">
            <MudImage Src="@(!_isDarkMode ? "images/moon.svg" : "images/sun.svg")" />
        </div>
    </div>
</MudButton>

@code {
    private bool _isDarkMode { get; set; }

    private void ToggleSwitch() => _isDarkMode = !_isDarkMode;
}
