@inherits ConclaveComponentBase

<div class="@(IsDarkMode ? "bg-[#41fbfb1a]" : "!bg-[#3d1a6e1a]") min-w-fit rounded-full @(IsDrawerOpen ? "block" : "hidden") lg:!hidden">
    <MudToggleIconButton ToggledChanged="ToggleSwitch" Class="!bg-transparent !flex !items-center !justify-center w-[20px] h-[20px]" Size="Size.Small" ToggledSize="Size.Small">
        <MudImage Src="@(IsDarkMode ? "images/moon.svg" : "images/sun.svg")" Alt="@(IsDarkMode ? "Moon icon" : "Sun icon")" />
    </MudToggleIconButton>
</div>

<MudButton OnClick="ToggleSwitch" Class="switch !min-w-[47px] !w-[47px] first:!w-[47px] !h-[25px] !rounded-[38px] !p-0 !hidden lg:!block">
    <div class="!w-[47px] !h-[25px] rounded-[38px] border-solid border-[1.32px] relative @(IsDarkMode ? "border-[#41fbfb]" : "border-[#3d1a6e] bg-white")">
        <div class="@(IsDarkMode ? "!bg-[#41fbfb1a]" : "bg-[#3d1a6e1a]") h-[19.74px] w-[19.74px] rounded-full flex items-center justify-center absolute left-[2.1px] top-[1.8px] duration-75 ease-linear @(IsDarkMode ? "" : "toggle-switch")">
            <MudImage Src="@(IsDarkMode ? "images/moon.svg" : "images/sun.svg")" />
        </div>
    </div>
</MudButton>
