<MudDialog Class="w-[92%] max-w-[496px] rounded-[16px] pb-4">
    <DialogContent>
        <MudIconButton
            OnClick="@(() => MudDialog.Close())"
            Class="absolute top-[-56px] right-[10px] z-[10]"
            Icon="@Icons.Material.Filled.Close"
            aria-label="close"
        >
        </MudIconButton>

        <MudPaper Class="flex justify-between items-center p-4 rounded-[12px]">
            <div class="font-semibold text-[24px]">@AppStateService.FromValue</div>
            <MudChip
                Class=""
                Color="Color.Primary"
                Label="true"
                Variant="Variant.Filled"
            >
                <div class="flex items-center gap-2 py-[18px]">
                    <MudImage Src=@AppStateService?.FromCurrentlySelectedToken?.Logo Height="24" Width="24" />
                    <MudText class="font-semibold">@AppStateService?.FromCurrentlySelectedToken?.Name</MudText>
                </div>
            </MudChip>
        </MudPaper>

        <MudPaper Class="flex justify-between items-center p-4 rounded-[12px] mt-2">
            <div class="font-semibold text-[24px]">@AppStateService.ToValue</div>
            <MudChip
                Class=""
                Color="Color.Primary"
                Label="true"
                Variant="Variant.Filled"
            >
                <div class="flex items-center gap-2 py-[18px]">
                    <MudImage Src=@AppStateService?.ToCurrentlySelectedToken?.Logo Height="24" Width="24" />
                    <MudText class="font-semibold">@AppStateService?.ToCurrentlySelectedToken?.Name</MudText>
                </div>
            </MudChip>
        </MudPaper>

        <MudPaper Class="flex justify-between items-center p-4 rounded-[12px] mt-6">
            <MudList Class="w-full" DisableGutters>
                <MudListItem Class="flex justify-between items-center py-0">
                    <div class="flex justify-between items-center">
                        <div>Slippage tolerance:</div>
                        <div class="font-semibold">@AppStateService.SlippageToleranceValue%</div>
                    </div>
                </MudListItem>
                <MudListItem Class="flex justify-between items-center py-0">
                    <div class="flex justify-between items-center">
                        <div>Honey:</div>
                        <div class="font-semibold">@AppStateService.HoneyValue</div>
                    </div>
                </MudListItem>
                <MudListItem Class="flex justify-between items-center py-0">
                    <div class="flex justify-between items-center">
                        <div>Estimated output:</div>
                        <div class="font-semibold">15.725234 - 31.450468 iUSDt</div>
                    </div>
                </MudListItem>
                <MudListItem Class="flex justify-between items-center py-0">
                    <div class="flex justify-between items-center">
                        <div>Refundable deposit:</div>
                        <div class="font-semibold">2 ADA</div>
                    </div>
                </MudListItem>
                <MudListItem Class="flex justify-between items-center py-0">
                    <div class="flex justify-between items-center">
                        <div class="flex">
                            <div>Total Fees</div>
                            <MudTooltip Placement="Placement.Right" Class="max-w-[200px] text-left">
                                <ChildContent>
                                    <MudIcon Class="w-[14px] h-[14px] ml-1" Icon="@IconsService.OutlinedQuestionMark" Size="Size.Small" />
                                </ChildContent>
                                <TooltipContent>
                                    <MudText Typo="Typo.caption">
                                        <div>Transaction fee: 1 ADA</div>
                                        <div>Execution fee: 2 - 4 ADA</div>
                                    </MudText>
                                </TooltipContent>
                            </MudTooltip>
                            <span>:</span>
                        </div>
                        <div class="font-semibold">3-5 ADA</div>
                    </div>
                </MudListItem>
            </MudList>
        </MudPaper>
    </DialogContent>
    <DialogActions>
        <div class="px-[16px] w-full">
            <MudButton
                FullWidth
                OnClick="OpenWaitingConfirmationDialog"
                Class="!rounded-xl text-[20px] py-[8px] font-bold"
                Variant="Variant.Filled"
                Color="Color.Primary"
            >
                Confirm Swap
            </MudButton>
        </div>
    </DialogActions>
</MudDialog>
