@page "/swap"

@inherits TeddySwapBasePage
@using TeddySwap.UI.Services
@using System.Globalization
@inject IconsService IconsService
@inject SwapCalculatorService SwapCalculatorService

<PageTitle>TeddySwap | Cardano | Swap</PageTitle>

<div class="flex flex-col lg:flex-row gap-4 relative">
    <div class="flex flex-col lg:flex-row gap-4 relative lg:absolute left-0 right-0">
        <MudCard Elevation="6" Class="@((_isChartButtonClicked ? "lg:right-0" : "lg:right-[50%] lg:translate-x-[50%]") + " relative lg:absolute transition-all duration-150 ease-in-out !rounded-xl p-[24px] flex flex-col gap-[25px] max-w-[448px] mx-auto grow w-full h-fit lg:order-1 z-[100]")">
            <MudCardHeader Class="p-0">
                <div class="flex justify-between items-center w-full">
                    <div class="font-bold text-[20px]">Swap</div>
                    <div>
                        <MudIconButton
                            OnClick="ToggleChart"
                            Icon="@Icons.Material.Filled.ShowChart"
                            aria-label="toggle chart"
                            Class="hidden lg:inline-block"
                        />
                        <MudIconButton
                            OnClick="OpenSwapSettingsDialog"
                            Icon="@Icons.Material.Filled.Tune"
                            aria-label="swap settings"
                        />
                    </div>
                </div>
            </MudCardHeader>
            <MudCardContent Class="p-0">
                <div class="flex flex-col relative h-[180px]">
                    <div class="absolute left-0 w-full transition-top duration-200 ease-in-out @(_areInputsSwapped ? "top-[93px]" : "top-0")">
                        <div class="relative">
                            <MudNumericField
                                HideSpinButtons
                                Immediate
                                @bind-Value="AppStateService.FromValue"
                                Placeholder="0.0"
                                Label="@(_areInputsSwapped ? "To" : "From")"
                                Variant="Variant.Outlined"
                                Min="0.0"
                                Class="swap-input"
                                Format="N2"
                                Culture=@CultureInfo.GetCultureInfo("en-US")
                                T="double"
                            />
                            <div class="absolute right-[8px] top-[12px]">
                                <TokenChip Tokens="Tokens" Id="1" CurrentlySelectedToken="AppStateService.FromCurrentlySelectedToken" />
                            </div>
                            <div class="flex justify-between text-[12px] absolute w-full bottom-[13px] px-[14px]">
                                <span>~@SwapCalculatorService.ConvertToTokenX(AppStateService.FromValue).ToString("N2") ADA</span>
                                <span>Balance: 17,228 <span class="@(_areInputsSwapped ? "hidden" : "inline")">(<MudLink Underline="Underline.None" Class="text-[12px] cursor-pointer">Max</MudLink>)</span></span>
                            </div>
                        </div>
                    </div>
                    <MudIconButton
                        OnClick="SwapInputs"
                        Class="@((_areInputsSwapped ? "rotate-180" : "rotate-0") + " transition-transform duration-200 ease-in-out w-fit !rounded-full m-auto absolute translate-x-[-50%] translate-y-[-50%] left-[50%] top-[50%] z-[100]" )"
                        Icon="@Icons.Material.Filled.SwapVert"
                        aria-label="reverse"
                        Variant="Variant.Filled"
                        Color="Color.Primary"
                    >
                    </MudIconButton>
        
                    <div class="absolute left-0 w-full transition-bottom duration-200 ease-in-out @(_areInputsSwapped ? "bottom-[93px]" : "bottom-0")">
                        <div class="relative">
                            <MudNumericField
                                HideSpinButtons
                                Immediate
                                @bind-Value="AppStateService.ToValue"
                                Placeholder="0.0"
                                Label="@(_areInputsSwapped ? "From" : "To")"
                                Variant="Variant.Outlined"
                                Min="0.0"
                                Class="swap-input"
                                Format="N2"
                                Culture=@CultureInfo.GetCultureInfo("en-US")
                                T="double"
                            />
                            <div class="absolute right-[8px] top-[12px]">
                                <TokenChip Tokens="Tokens" Id="2" CurrentlySelectedToken="AppStateService.ToCurrentlySelectedToken" />
                            </div>
                        </div>
                        <div class="flex justify-between mt-2 text-[12px] absolute w-full bottom-[13px] px-[14px]">
                            <span>~@SwapCalculatorService.ConvertToTokenX(AppStateService.FromValue).ToString("N2") ADA</span>
                            <span>Balance: 9,456 <span class="@(_areInputsSwapped ? "inline" : "hidden")">(<MudLink Underline="Underline.None" Class="text-[12px] cursor-pointer">Max</MudLink>)</span></span>
                        </div>
                    </div>
                </div>
            </MudCardContent>
            <MudCardActions Class="p-0">
                @if (AppStateService.FromValue <= 0)
                {
                    <MudButton
                        FullWidth
                        Disabled
                        OnClick="OpenConfirmSwapDialog"
                        Class="!rounded-xl text-[20px] py-[6px] font-medium normal-case"
                        Variant="Variant.Filled"
                        >
                            Enter an amount
                    </MudButton>
                }
                else
                {
                    <MudButton
                        FullWidth
                        OnClick="OpenConfirmSwapDialog"
                        Class="!rounded-xl text-[20px] py-[6px] font-medium normal-case"
                        Variant="Variant.Filled"
                        Color="Color.Primary"
                        >
                            Swap
                    </MudButton>
                }
            </MudCardActions>
            <MudCardContent Class="!bg-[var(--mud-palette-drawer-background)] pt-[20px] px-[12px] !pb-0 !rounded-xl swap-summary">
                <MudText Class="font-semibold text-[12px]">
                    1 @AppStateService?.FromCurrentlySelectedToken?.Name = @SwapCalculatorService.ConvertToTokenX(AppStateService.FromValue).ToString("N2") @AppStateService?.ToCurrentlySelectedToken?.Name
                </MudText>
                <MudList DisableGutters>
                    <MudListItem Class="!pt-0 !pb-[4px]">
                        <div class="flex justify-between items-center text-[12px]">
                            <div>Slippage tolerance:</div>
                            <div>@AppStateService.SlippageToleranceValue%</div>
                        </div>
                    </MudListItem>
                    <MudListItem Class="!pt-0 !pb-[4px]">
                        <div class="flex justify-between items-center text-[12px]">
                            <div>Price impact:</div>
                            <div class="@(GetPriceImpactValueClass())">
                                @Math.Round(PriceImpactValue, 2)%
                            </div>
                        </div>
                    </MudListItem>
                    <MudListItem Class="!pt-0 !pb-[4px]">
                        <div class="flex justify-between items-center text-[12px]">
                            <div>Minimum receivable:</div>
                            <div>0.036215 @AppStateService?.ToCurrentlySelectedToken?.Name</div>
                        </div>
                    </MudListItem>
                    <MudListItem Class="!pt-0 !pb-[4px]">
                        <div class="flex justify-between items-center text-[12px]">
                            <div>Maximum receivable:</div>
                            <div>0.043458 @AppStateService?.ToCurrentlySelectedToken?.Name</div>
                        </div>
                    </MudListItem>
        
                    <div class="text-[var(--mud-palette-text-secondary)] transition-height ease-in-out duration-200 overflow-y-hidden @(_isPanelExpanded ? "h-[161px] opacity-100" : "h-0 opacity-0")">
                        <MudDivider />
                        <MudListItem Class="!pt-0 !pb-[4px] mt-[10px]">
                            <div class="flex items-center justify-between text-[12px]">
                                <div class="relative flex gap-1">
                                    <div>Protocol fee</div>
                                    <MudTooltip Placement="Placement.Right" Class="max-w-[200px] text-left">
                                        <ChildContent>
                                            <MudIcon Class="w-[14px] cursor-pointer" Icon="@IconsService.OutlinedQuestionMark" Size="Size.Small" />
                                        </ChildContent>
                                        <TooltipContent>
                                            <MudText Typo="Typo.caption">
                                                0.01% or a minium 1.2 ADA goes to the TeddySwap Protocol Treasury
                                            </MudText>
                                        </TooltipContent>
                                    </MudTooltip>
                                    <span>:</span>
                                </div>
                                <div>1 ADA</div>
                            </div>
                        </MudListItem>
                        <MudListItem Class="!pt-0 !pb-[4px]">
                            <div class="flex justify-between items-center text-[12px]">
                                <div class="relative flex gap-1">
                                    <div>Execution fee</div>
                                    <MudTooltip Placement="Placement.Right" Class="max-w-[200px] text-left">
                                        <ChildContent>
                                            <MudIcon Class="w-[14px] cursor-pointer" Icon="@IconsService.OutlinedQuestionMark" Size="Size.Small" />
                                        </ChildContent>
                                        <TooltipContent>
                                            <MudText Typo="Typo.caption">
                                                 Will be charged by off-chain execution bots and distributed among validators.
                                            </MudText>
                                        </TooltipContent>
                                    </MudTooltip>
                                    <span>:</span>
                                </div>
                                <div>2 ADA - 2.4 ADA</div>
                            </div>
                        </MudListItem>
                        <MudListItem Class="!pt-0 !pb-[4px]">
                            <div class="flex justify-between items-center text-[12px]">
                                <div class="relative flex gap-1">
                                    <div>Transaction fee</div>
                                    <MudTooltip Placement="Placement.Right" Class="max-w-[200px] text-left">
                                        <ChildContent>
                                            <MudIcon Class="w-[14px] cursor-pointer" Icon="@IconsService.OutlinedQuestionMark" Size="Size.Small" />
                                        </ChildContent>
                                        <TooltipContent>
                                            <MudText Typo="Typo.caption">
                                                A small amount of ADA charged by Cardano blockchain.
                                            </MudText>
                                        </TooltipContent>
                                    </MudTooltip>
                                    <span>:</span>
                                </div>
                                <div>1 ADA</div>
                            </div>
                        </MudListItem>
                        <MudListItem Class="!pt-0 !pb-[4px]">
                            <div class="flex justify-between items-center text-[12px]">
                                <div class="relative flex gap-1">
                                    <div>Refundable deposit</div>
                                    <MudTooltip Placement="Placement.Right" Class="max-w-[200px] text-left">
                                        <ChildContent>
                                            <MudIcon Class="w-[14px] cursor-pointer" Icon="@IconsService.OutlinedQuestionMark" Size="Size.Small" />
                                        </ChildContent>
                                        <TooltipContent>
                                            <MudText Typo="Typo.caption">
                                                This amount of ADA will be held to construct the transaction and will be returned when your order is executed or cancelled.
                                            </MudText>
                                        </TooltipContent>
                                    </MudTooltip>
                                    <span>:</span>
                                </div>
                                <div>2 ADA</div>
                            </div>
                        </MudListItem>
                        <MudListItem Class="!pt-0 text-[var(--mud-palette-text-primary)]">
                            <div class="flex justify-between items-center text-[12px] font-bold">
                                <div>Total fees:</div>
                                <div>3 ADA - 5 ADA</div>
                            </div>
                        </MudListItem>
                    </div>
                    <MudIconButton
                        OnClick="ToggleExpansionPanel"
                        Class="@((_isPanelExpanded ? "rotate-180" : "rotate-0") + " !p-[8px] m-auto block transition-transform duration-200 ease-in-out")"
                        Icon="@Icons.Material.Filled.KeyboardArrowDown"
                        aria-label="expand"
                        Size="Size.Small"
                    >
                    </MudIconButton>
                </MudList>
            </MudCardContent>
        </MudCard>
    

        <MudButton
            FullWidth
            OnClick="ToggleChart"
            Class="!rounded-xl !bg-[var(--mud-palette-surface)] !normal-case lg:hidden max-w-[448px] m-auto !text-[20px] relative z-[100]"
            StartIcon="@Icons.Material.Filled.BarChart"
        >
        @(_isChartButtonClicked ? "Hide" : "Show") Chart
        </MudButton>

        <div class="@((_isChartButtonClicked ?  "translate-y-0 lg:left-0 opacity-100 lg:top-0" : "translate-y-[-100%] lg:translate-y-0 lg:left-[300px] top-0 opacity-0") + " relative lg:absolute w-full lg:w-[calc(100%-468px)] max-w-[1040.4px] overflow-hidden transition-all duration-150 h-fit flex flex-col gap-5 !rounded-xl ease-in-out swap-chart")">
            <MudTabs Elevation="6" ApplyEffectsToContainer="true">
                <MudTabPanel Text="Chart">
                    <MudPaper Class="@((_isChartButtonClicked ? "!p-[24px]" : "!p-[24px]") + " rounded-none")">
                        <SwapChart
                            FromCurrentlySelectedToken="@AppStateService?.FromCurrentlySelectedToken"
                            ToCurrentlySelectedToken="@AppStateService?.ToCurrentlySelectedToken"
                        />
                    </MudPaper>
                </MudTabPanel>
                <MudTabPanel Text="Order Book">
                    <TradingHistory />
                </MudTabPanel>
            </MudTabs>
        </div>
    </div>
</div>
