@using System.Net.Http.Json
@using TeddySwap.UI.Models


<MudTable
    Items="@Transactions"
    Elevation="6"
    Class="!rounded-xl trading-history p-[8px]"
    HeaderClass="backdrop-blur-[100px] px-[24px]"
>
    <ToolBarContent>
        <MudText Class="!pl-[16px] font-semibold" Typo="Typo.h6">Trading History</MudText>
    </ToolBarContent>
    <HeaderContent> 
        <MudTh>Created Time</MudTh>
        <MudTh>Type</MudTh>
        <MudTh>Price</MudTh>
        <MudTh>Input</MudTh>
        <MudTh>Output</MudTh>
        <MudTh>Owner</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Created time">
            <div class="flex items-center gap-1">
                <div class="h-[6px] w-[6px] rounded-full bg-[var(--mud-palette-success)]"></div>
                <div>@context.CreatedTime</div>
            </div>
        </MudTd>
        <MudTd Class="@((context.Type == TransactionType.Buy ? "!text-[var(--mud-palette-success)]" : "!text-[var(--mud-palette-error)]") + " font-semibold before:!text-[var(--mud-palette-text-primary)]")" DataLabel="Type">@context.Type</MudTd>
        <MudTd DataLabel="Price">@context.Price ADA</MudTd>
        <MudTd DataLabel="Input">@context.Input MIN</MudTd>
        <MudTd DataLabel="Output">@context.Output ADA</MudTd>
        <MudTd Class="" DataLabel="Owner">
            <div class="flex items-center gap-2">
                <div>@context.Owner.Substring(0, 6)...@context.Owner.Substring(context.Owner.Length - 6)</div>
                <MudLink Href="#" Target="_blank">
                    <MudIcon Icon="@Icons.Material.Filled.Link" />
                </MudLink>
            </div>
        </MudTd>
    </RowTemplate>
</MudTable>

@code {
    private List<Transaction> Transactions = new List<Transaction>();

    protected override void OnInitialized()
    {
        Transactions = new()
        {
            new()
            {
                CreatedTime = "2023-04-24 22:09 GMT+8",
                Type = TransactionType.Buy,
                Price = 0.060559M,
                Input = 6_000,
                Output = 363.354469M,
                Owner = "addr1q8r86cuspxp7e3cnpcweyeenmsl46llt3h9k5ugg7cc4kn6u0nrh4agzpe7wlsr3rnyj0huzcu7fmuxrutcqs6td4tasjvq92l"
            },
            new()
            {
                CreatedTime = "2023-04-24 22:09 GMT+8",
                Type = TransactionType.Sell,
                Price = 0.060559M,
                Input = 6_000,
                Output = 363.354469M,
                Owner = "addr1q8r86cuspxp7e3cnpcweyeenmsl46llt3h9k5ugg7cc4kn6u0nrh4agzpe7wlsr3rnyj0huzcu7fmuxrutcqs6td4tasjvq92l"
            },
            new()
            {
                CreatedTime = "2023-04-24 22:09 GMT+8",
                Type = TransactionType.Buy,
                Price = 0.060559M,
                Input = 6_000,
                Output = 363.354469M,
                Owner = "addr1q8r86cuspxp7e3cnpcweyeenmsl46llt3h9k5ugg7cc4kn6u0nrh4agzpe7wlsr3rnyj0huzcu7fmuxrutcqs6td4tasjvq92l"
            },
            new()
            {
                CreatedTime = "2023-04-24 22:09 GMT+8",
                Type = TransactionType.Sell,
                Price = 0.060559M,
                Input = 6_000,
                Output = 363.354469M,
                Owner = "addr1q8r86cuspxp7e3cnpcweyeenmsl46llt3h9k5ugg7cc4kn6u0nrh4agzpe7wlsr3rnyj0huzcu7fmuxrutcqs6td4tasjvq92l"
            },
            new()
            {
                CreatedTime = "2023-04-24 22:09 GMT+8",
                Type = TransactionType.Buy,
                Price = 0.060559M,
                Input = 6_000,
                Output = 363.354469M,
                Owner = "addr1q8r86cuspxp7e3cnpcweyeenmsl46llt3h9k5ugg7cc4kn6u0nrh4agzpe7wlsr3rnyj0huzcu7fmuxrutcqs6td4tasjvq92l"
            },
            new()
            {
                CreatedTime = "2023-04-24 22:09 GMT+8",
                Type = TransactionType.Buy,
                Price = 0.060559M,
                Input = 6_000,
                Output = 363.354469M,
                Owner = "addr1q8r86cuspxp7e3cnpcweyeenmsl46llt3h9k5ugg7cc4kn6u0nrh4agzpe7wlsr3rnyj0huzcu7fmuxrutcqs6td4tasjvq92l"
            },
            new()
            {
                CreatedTime = "2023-04-24 22:09 GMT+8",
                Type = TransactionType.Sell,
                Price = 0.060559M,
                Input = 6_000,
                Output = 363.354469M,
                Owner = "addr1q8r86cuspxp7e3cnpcweyeenmsl46llt3h9k5ugg7cc4kn6u0nrh4agzpe7wlsr3rnyj0huzcu7fmuxrutcqs6td4tasjvq92l"
            },
            new()
            {
                CreatedTime = "2023-04-24 22:09 GMT+8",
                Type = TransactionType.Buy,
                Price = 0.060559M,
                Input = 6_000,
                Output = 363.354469M,
                Owner = "addr1q8r86cuspxp7e3cnpcweyeenmsl46llt3h9k5ugg7cc4kn6u0nrh4agzpe7wlsr3rnyj0huzcu7fmuxrutcqs6td4tasjvq92l"
            },
            new()
            {
                CreatedTime = "2023-04-24 22:09 GMT+8",
                Type = TransactionType.Sell,
                Price = 0.060559M,
                Input = 6_000,
                Output = 363.354469M,
                Owner = "addr1q8r86cuspxp7e3cnpcweyeenmsl46llt3h9k5ugg7cc4kn6u0nrh4agzpe7wlsr3rnyj0huzcu7fmuxrutcqs6td4tasjvq92l"
            },
            new()
            {
                CreatedTime = "2023-04-24 22:09 GMT+8",
                Type = TransactionType.Buy,
                Price = 0.060559M,
                Input = 6_000,
                Output = 363.354469M,
                Owner = "addr1q8r86cuspxp7e3cnpcweyeenmsl46llt3h9k5ugg7cc4kn6u0nrh4agzpe7wlsr3rnyj0huzcu7fmuxrutcqs6td4tasjvq92l"
            }
        };
    }
}
